ol {
        padding-left: 20px; 
        margin: 20px 0;
        list-style-type: decimal;
      }
      ol li {
        margin-bottom: 10px;
      }
			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding: 10%;
			}
			.box1 {
				background: url(https://github.com/MikeZhong1102/MikeZhong1102.github.io/blob/main/skywalker/player.png?raw=true) center no-repeat;
				transition: 1s;
				width: 200px;
				height: 200px;
				border-radius: 50%;
				background-size: 100%;
			}
			.box1:hover {
				transition: 1s;
				transform: rotate(360deg);
			}

