html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
a {
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #ff0000;
}
body {
	background-color: black;
}
p {
	font-family: "Times New Roman", Times, serif;
}
