body{
    background-color: #000000;
}

.container{ 
    position: fixed;
    top: 0;
    left: 10;
    width: 1500;
    height: 1500;
    z-index: -1;
   
}
.line-wrap{
    width:1000;
    margin:0 auto;
}
.circle-load-rect-svg{
    margin:0px;
}

.g-rect-path{
    fill: none;
    stroke-width:2;
    stroke:#ffffff;
    stroke-linejoin:round;
    stroke-linecap:round;
}

.g-rect-fill{
    fill: none;
    stroke-width:2;
    stroke:#ff0000;
    stroke-linejoin:round;
    stroke-linecap:round;
    stroke-dasharray: 0, 1370;
    stroke-dashoffset: 0;
    animation: lineMove 1s ease-in infinite;
}

@keyframes lineMove {
    0%{
        stroke-dasharray: 0, 1500;
        
    }
    100%{
        stroke-dasharray: 1500, 1500;
        stroke-dashoffset:-1500;
    }
}
